# copy this file to .env and adapt as needed

# Chatwoot settings
CHATWOOT_API_KEY=<your chatwoot api key>
CHATWOOT_URL=<your chatwoot url>

# Rasa action server settings
RASA_ACTION_SERVER_URL=http://rasa-actions:5055
RASA_MODEL_SERVER_URL=http://rasa-models:8080
RASA_URL=http://rasa:8080

# Rasa model server settings
MODEL_SERVER_API_KEY=<create a random key>
MODEL_SERVER_DEBUG=0
MODEL_SERVER_PORT=8080
MODELS_DIR=models

# NLG server settings
NLG_CHATWOOT_REFRESH_SECONDS=120
NLG_DEBUG=false
NLG_URL=http://rasa-nlg:5056
# NLG_DOMAIN_PATH="/app/domain.yml"

# Postgres settings
POSTGRES_DB=rasa
POSTGRES_HOST=rasa-postgres
POSTGRES_PASSWORD=<choose a random password>
POSTGRES_PORT=5432
POSTGRES_USER=postgres

